@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

*{
    box-sizing: border-box;
}

body
{   
    background-color: #FFEEDB;
    font-family: "Monserrat", "Sans-serif";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
}

.joke
{   height: 100%;
    width: 100%;
    background-color: #FFD8CC;
}

p{
    font-family: inherit;
    font-size: 20px;
}

.container
{
    position: relative;
    color: black;
    border-radius: 10px;
}

.container button{
    position: absolute;
    bottom: 10px;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    background-color: #0A1D37;
    color: white;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid  black;

}

button:active
{
    background-color: #FFEEDB;
    color: black;
}
button:hover
{   
    outline: none;
    
}